{% raw %}{% extends "rosetta/base.html" %}
{% load i18n %}

{% block header %}
<div id="branding">
    <h1 id="site-name"><a href="{% url 'rosetta-pick-file' %}">Rosetta</a></h1>
</div>
<div id="user-tools">
  {% block welcome-msg %}
    {% trans 'Welcome,' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    <a href="{% url 'admin:index' %}">{% trans 'Admin Site' %}</a> /
  {% endblock %}
  {% block userlinks %}
    {% if site_url %}
        <a href="{{ site_url }}">{% trans 'View site' %}</a> /
    {% endif %}
    {% if user.is_active and user.is_staff %}
      {% url 'django-admindocs-docroot' as docsroot %}
      {% if docsroot %}
          <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
      {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
      <a href="{% url 'admin:password_change' %}">
        {% trans 'Change password' %}
      </a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
  {% endblock %}
</div>
{% endblock %}
{% endraw %}
