{% raw %}{% load staticfiles %}
{% load compress %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% trans "Home Page" %}</title>
    {% compress css %}
      <!-- Bootstrap core CSS -->
      <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
      <link href="{% static "css/cover.css" %}" rel="stylesheet">
    {% endcompress %}
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">{% trans "Home" %}</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="">{% trans "Home" %}</a></li>
                  <li>
                    <a href="{% url "admin:index" %}">{% trans "Admin" %}</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">{% trans "It worked!" %}</h1>
            <p class="lead">
              {% trans "Congratulations on your first Django-powered page." %}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% compress js %}
      <script src="{% static "js/jquery-1.12.0.min.js" %}"></script>
      <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% endcompress %}
  </body>
</html>
{% endraw %}
