{% raw %}{% load staticfiles %}
{% load compress %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% trans "Home Page" %}</title>
    {% compress css %}
      <!-- Bootstrap core CSS -->
      <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
      <link href="{% static "css/cover.css" %}" rel="stylesheet">
    {% endcompress %}
  </head>
  <body>
    <div class="site-wrapper" id="app-place"></div>
    {% compress js %}
      <script src="/jsi18n/"></script>
      <script src="{% static "js/jquery-1.12.0.min.js" %}"></script>
      <script src="{% static "js/bootstrap.min.js" %}"></script>
      <script src="{% static "react/app.js" %}"></script>
    {% endcompress %}
  </body>
</html>
{% endraw %}
