{% raw %}{% load staticfiles %}
{% load compress %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans "Home Page" %}</title>
    {% compress css %}
      <link href="{% static "css/cover.css" %}" rel="stylesheet">
    {% endcompress %}
  </head>
  <body>{% endraw %}{% if cookiecutter.use_react == 'True' %}
    <div class="site-wrapper" id="app-place" data-language="{% raw %}{{LANGUAGE_CODE}}{% endraw %}">
    </div>{%- else -%}{% raw %}
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">{% trans "Home" %}</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="">{% trans "Home" %}</a></li>
                  <li>
                    <a href="{% url "admin:index" %}">{% trans "Admin" %}</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">{% trans "It worked!" %}</h1>
            <p class="lead">
              {% trans "Congratulations on your first Django-powered page." %}
            </p>
          </div>
        </div>
      </div>
    </div>{% endraw %}{% endif %}
    <script src="{% if cookiecutter.use_translation == 'True' %}{% raw %}/{{LANGUAGE_CODE}}{% endraw %}{% endif %}/jsi18n/"></script>
    {% if cookiecutter.use_react == 'True' -%}{% raw %}
      {% compress js %}
      <script src="{% static "react/app.js" %}"></script>
    {% endcompress %}
    {% endraw %}{% endif -%}
  </body>
</html>
