Protocol 2
PasswordAuthentication no
Port 30022
User myuser
IdentitiesOnly yes
IdentityFile /.ssh/id_rsa
LogLevel DEBUG1
UserKnownHostsFile /.ssh/known_hosts
GatewayPorts yes
LocalForward 5432 localhost:5432
